
@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy admin2 Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Public/admin2/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Public/admin2/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/Public/admin2/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Public/admin2/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="~/Public/admin2/js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="~/Public/admin2/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Public/admin2/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Meters graphs -->
    <script src="~/Public/admin2/js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sign-in-up">
    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <p><span>Đăng nhập</span></p>
                    </div>
                    <div class="signin">
                        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                        {

                            <div class="log-input">
                                @if (ViewBag.Message != null)
                                {

                                    <span style="color: red;" id="loginMessage">@ViewBag.Message</span>

                                }
                                <div class="log-input-left">
                                    <input type="text" class="user" name="username" value="Yourname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="log-input">
                                <div class="log-input-left">
                                    <input type="password" class="lock" name="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}" />
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <input type="submit" value="Đăng nhập">
                        }
                    </div>


                    <div class="new_people">
                        <h4>Login with FB</h4>
                        <p>

                        </p>
                        @Html.ActionLink("Login", "Facebook", "Home")

                        <table>
                            <tr><td>Email:</td><td><b>@TempData["email"]</b></td></tr>
                            <tr><td>First Name:</td><td><b>@TempData["first_name"]</b></td></tr>
                            <tr><td>Last Name:</td><td><b>@TempData["lastname"]</b></td></tr>
                            <tr><td>Picture:</td><td><b><img src="@TempData["picture"]" /></b></td></tr>
                        </table>
                    </div>


                    <div class="new_people">
                        <h4>Chưa có tài khoản</h4>
                        <p>

                        </p>
                        @Html.ActionLink("Đăng ký", "Index", "Register")
                    </div>
                    <div class="new_people">
                        <h4>Quên mật khẩu</h4>
                        <p>

                        </p>
                        <a href="/LostPass/ForgetPassWord">Quên mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Public/admin2/js/jquery.nicescroll.js"></script>
    <script src="~/Public/admin2/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Public/admin2/js/bootstrap.min.js"></script>
</body>
</html>